{% extends '_layout.html'%}

{%block title %} Home {% endblock%}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">{% endblock head %}

{% block content %}
<img id="banner" class="img-fluid" src="static/banner.jpg">
<div class="container">
    <!-- <h1 class="text-center mt-2 mb-4">Apex Careers</h1> -->
    <h2 class="text-center mt-3 mb-4">About Apex Careers</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque quam sit repudiandae temporibus
        nesciunt sint
        dolore nostrum! Qui enim totam consequuntur adipisci non itaque ipsum, veniam, molestiae dolores, nesciunt
        hic!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem incidunt odit obcaecati fugiat eos sequi
        beatae
        magni veritatis harum, numquam voluptatem, laudantium atque quae consequuntur neque delectus quo. Veniam,
        id.
    </p>
    <h2 class="text-center mt-5 mb-4">Open Positions</h2>

    {% for job in jobs %}
    {% include 'jobs.html' %}
    {% endfor %}

</div>
<div class="text-center">
    <button class="btn btn-warning btn-lg">Contact Us</button>
</div>
{% endblock content %}